:root{
  background: black;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/*.black{
  background-color: black;
  height: 60px;
  width: 100%;
}*/
.input-wrapper{
  margin-top: 50px;
  background-color: #212121;
  width: 90%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  background-color: transparent;
  border: none;
  height: 100%;
  color: #535353;
  font-size: 1.25rem;
  width: 100%;
  
  outline: none;
}

.FaSearch{
 
  margin-right: 20px;
}

.options{
  display: flex;

}

.notSelected{
  cursor: pointer;
  border:1px solid #b3b3b3;
  margin: 5px;
  border-radius: 5px;
  color: white;

  padding: 5px;
}
.selected{
  cursor: pointer;
  margin:5px;
  padding: 5px;
  border:1px solid gray;
  border-radius: 5px;
  background-color: #1db954;
  color: black;
}

table{
  margin-top: 30px;
  width: 95%;
  border: 1px solid #535353;
  color:white;
  border-radius: 5px;
}
th{
  border: 1px solid #535353;
  
}
td{
  border: 1px solid #535353;
  

}

.results{
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* App.css */
body {
  transition: background 0.3s, color 0.3s;
}

.light {
  background: #fff;
  color: #000;
}

.dark {
  background: #333;
  color: #fff;
}

.toggle-theme-button {
  margin-top: 10px;
  padding: 5px;
  background: #61dafb;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}

